
body {
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  min-height: 100vh;
  padding: 20px;
  background-color:cornsilk;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.section:nth-child(odd) {
  background-color: aliceblue;
}
